<div class="lettersKeyBoard">
    <div class="lettersW">
        <div *ngFor="let letter of letters; index as i">
            <button class="letter" id="btn_{{letter}}" [disabled]="usedLetters.includes(letter)" 
                    type="button" *ngIf="i < 10" (click)="sendLetter(letter);">{{letter}}</button>
        </div>
    </div>
    <div class="lettersW">
        <div *ngFor="let letter of letters; index as i">
            <button class="letter" id="btn_{{letter}}" [disabled]="usedLetters.includes(letter)" 
                    type="button" *ngIf="i >= 10 && i <= 18" (click)="sendLetter(letter)">{{letter}}</button>
        </div>
    </div>
    <div class="lettersW">
        <div *ngFor="let letter of letters; index as i">
            <button class="letter" id="btn_{{letter}}" [disabled]="usedLetters.includes(letter)" 
                    type="button" *ngIf="i > 18" (click)="sendLetter(letter)">{{letter}}</button>
        </div>
    </div>
</div>