<div class="container">
    <h1 class="mainTitle">{{title | uppercase}}</h1>

    <app-hangman-view-handler
        [imgIndex]="countMistakes || 0"
        class="hangmanView">
    </app-hangman-view-handler>

    <div class="lettersView">
        <app-movies-letters 
            (letterButton)="sendLetterToKeyBoard($event)"
            (isUserWin)="gameover($event)">
        </app-movies-letters>

        <app-letters-keyboard  
            (clickEvent)="handleLetter($event)">
        </app-letters-keyboard>
    </div>
    <div class="gameOverView" [ngClass]="{'gameover': isGameover}"><!-- gameover  -->
        <div class="gameOver_message"  [ngClass]="userWin? 'succeed':'failed'"> <!--succeed or failed-->
            
        </div>
        <button class="playAgain" type="button" (click)="startGame()">AGAIN</button>
    </div>
</div>


